body {
    background: rgb(237, 241, 245);
    /*background: linear-gradient(grey, black);*/
}

.card-list {
    display: grid;
    grid-column-gap: 50px;
    grid-row-gap: 80px;
    grid-template-columns: repeat(4, minmax(200px, 250px));
    grid-template-rows: repeat(3, 250px);
    justify-content: center;
    min-width: 0;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.media-card {
    background: rgb(250, 252, 252);
    border-radius: 3px;
    display: inline-block;
    /*grid-template-columns: 185px auto;*/
    height: 300px;
    min-width: 100px;
    overflow: hidden; 
    position: relative;
    /* text-align: left; */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    transition: all 0.2s ease-in-out;
    -webkit-border-radius: 0px;
    border-radius: 0px;

}

.media-card:hover {
    transform: scale(1.10, 1.10);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

