body {
    background: rgb(69, 88, 117);
    height: 100%;
}

.container {
    display: table;
    height: 100px;
    width: 100px;
    margin: 0 auto;
    text-align: center;
}

.form-group {
    height: 100px;
    width: 100px;
    display: block;
    /*vertical-align: middle;*/
    margin: auto;
}

